
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Toaster
@import "toastr";

.fondo-uleam{
    background: url("../images/uleam-fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
    margin:auto;
    
    position: fixed;

}
.login{
    margin: 10% 20%;

}

@media screen and (min-width:480px) {
    .login{
        margin: 10% 25%;
    
    }
}

body{
    background-color: #ecf0f5;
}
.cabeceras{
    font-weight: bold;
}
.menu {
    background: #04a33f !important;
     margin: auto;
}
.navbar-brand , .dropdown>* , .dropdown-menu li a {
    color:#fff!important;
    background: #04a33f !important;
}

.menu , .navbar-collapse{
  border-color: rgb(12, 140, 36);
}
.navbar-brand,
.dropdown > *,
.dropdown-menu li a {
  color: #fff !important;
  background: #04a33f !important;
}

.navbar-brand:hover, .navbar-toggle:hover, .dropdown a:hover , .dropdown-menu li a:hover {
  background: rgba(101, 230, 129, 0.9) !important;

}
body {
    background-color: #ecf0f5;
    background-image: url(/images/logo-uleam.png?87937cae1b7f6f80a1fcc57bf4a61acb);
    background-repeat: no-repeat;
    background-position: 48.5% 300px;
    background-size: 320px;
  }